<section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-study">
                <img src="{{ asset('assets/images/icons/study.png') }}" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Master DNR2i</h2>
                <h4>Université de Caen, Basse-Normandie</h4>
                <p>
                    Apprentissage des techniques de développements appliqué au web ainsi que des méthodes de gestion de projet agile.
                </p>

                <h5>Notions clés</h5>
                <p class="keywords">
                    <strong>HTML/CSS</strong>, <strong>PHP</strong>, <strong>Symfony</strong>, <strong>Javascript</strong>, <strong>jQuery</strong>, <strong>JAVA</strong>, <strong>J2EE</strong>, <strong>Git</strong>, <strong>Gestion de projet agile</strong>
                </p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date">Septembre 2013 - Auj.</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-work">
                <img src="{{ asset('assets/images/icons/work.png') }}" alt="Movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Chef de projet</h2>
                <h4>Doyouco</h4>
                <p>
                    Développement et gestion de projet d'un réseau social d'échange de coups de mains. Conception, développement du site et coordinations des développements des différents intervenant.
                </p>

                <h5>Notions clés:</h5>
                <p class="keywords">
                    <strong>PHP</strong>, <strong>Yii</strong>, <strong>Javascript</strong>, <strong>PostgreSQL</strong>, <strong>PostGis</strong>, <strong>Git</strong>, <strong>Gestion de projet agile</strong>, <strong>SVN</strong>
                </p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date">Juin 2013 - Auj.</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-study">
                <img src="{{ asset('assets/images/icons/graduate.png') }}" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Licence professionnelle ATC, Webmestre</h2>
                <h4>Université de Caen, Basse-Normandie</h4>
                <p>
                    Parcours développement. Apprentissage des techniques de développement et de communication appliquées au web.
                </p>

                <h5>Notions clés:</h5>
                <p class="keywords">
                    <strong>HTML/CSS</strong>, Communication, <strong>PHP</strong>, <strong>Symfony</strong>, <strong>Javascript</strong>, Mootools, <strong>jQuery</strong>, <strong>Photoshop</strong>, <strong>Illustrator</strong>, Flash, <strong>Wordpress</strong>, Drupal, <strong>SVN</strong>, <strong>Git</strong>, <strong>Gestion de projet agile</strong>
                </p>
                <a href="#0" class="cd-read-more">En savoir +</a>
                <span class="cd-date">Septembre 2012 - Septembre 2013</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-work">
                <img src="{{ asset('assets/images/icons/work.png') }}" alt="Location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Stage développement web</h2>
                <h4>Keolis Calvados</h4>
                <p>
                    Conception et développement de l'intranet de l'entreprise avec le CMS "JOOMLA!". Ce site est encore aujourd'hui utilisé quotidiennement par les collaborateurs de Keolis Calvados et a permit d'améliorer significativement la communication interne de l'entreprise.
                </p>
                <h5>Notions clés:</h5>
                <p class="keywords">
                    <strong>SQL</strong>, <strong>MySQL</strong>, <strong>UML 2</strong>, <strong>PHP</strong>, <strong>Javascript</strong>, <strong>HTML/CSS</strong>, JOOMLA, <strong>SVN</strong>
                </p>
                <a href="#0" class="cd-read-more">En savoir +</a>
                <span class="cd-date">Mars 2012 - Juillet 2012</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-study">
                <img src="{{ asset('assets/images/icons/graduate.png') }}" alt="Location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>DUT Informatique</h2>
                <h4>Université de Caen, Basse-Normandie</h4>
                <p>
                    Apprentissage des fondamentaux de l'informatique et du développement.
                </p>

                <h5>Notions clés:</h5>
                <p class="keywords">
                    C, Bash, <strong>SQL</strong>, ORACLE, <strong>MySQL</strong>, Merise, <strong>UML 2</strong>, <strong>JAVA</strong>, <strong>PHP</strong>, <strong>Javascript</strong>, J2EE, <strong>HTML/CSS</strong>, JOOMLA, <strong>SVN</strong>
                </p>
                <a href="#0" class="cd-read-more">En savoir +</a>
                <span class="cd-date">Septembre 2010 - Juillet 2012</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-study">
                <img src="{{ asset('assets/images/icons/graduate.png') }}" alt="Movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Baccalauréat Scientifique</h2>
                <h4>Lycée Malherbe de Caen, Basse-Normandie, France</h4>
                <p>Mention assez bien</p>
                <span class="cd-date">Juillet 2010</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section> <!-- cd-timeline -->